* {
    margin: 0;
    background:#000;
}

pre {
    color:#fff;
    font-family: monospace;
}
body, p, li {
  /*position:absolute;
  top:16px;*/
  width:auto;
  left:620px;
  color: #fff;
  font-family:sans-serif;
}
.muse-bold {
    font-weight: bold;
}
.muse-italic {
    text-decoration: italic;
}
span {
    color: lightblue;
    font-family: sans-serif;
    text-decoration: underline;
}
h1 {
    text-decoration: underline;
    font-family: sans-serif;
    font-size: 16px;
    color: blueviolet;
}
a {
    font-family: sans-serif;
    color: chartreuse;
}
